package initialize

import (
	"context"
	model "github.com/mameikagou/gin-vue-study/server/model/system"
	"github.com/mameikagou/gin-vue-study/server/plugin/plugin-tool/utils"
)

func Menu(ctx context.Context) {
	entities := []model.SysBaseMenu{}
	utils.RegisterMenus(entities...)
}
